@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: "Nunito Sans", sans-serif;
    @apply font-light;
    @apply bg-background text-foreground;
  }

  a {
    @apply transition-colors duration-200;
    @apply hover:text-zinc-50;
  }

  a:not(footer a, header a) {
    @apply transition-opacity hover:opacity-70;
    @apply relative;
    @apply after:content-[""];
    @apply after:absolute after:bottom-[1px] after:-z-10 after:left-0 after:w-full after:h-[0.5px];
    @apply after:bg-zinc-400;
  }
}
