---
---

<footer class="flex justify-center gap-8 my-4 font-light text-zinc-500">
	<a href="https://github.com/marlomgirardi">Github</a>
	<a href="https://www.linkedin.com/in/marlomgirardi/?locale=en_US">
		Linkedin
	</a>
</footer>
