---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'articles'>['data'];

const { title, description, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<article class="grow max-w-[920px]">
		<div class="w-full rounded-xl overflow-hidden">
			{heroImage && <img src={heroImage} alt="" class="w-full" />}
		</div>
		<div class="prose prose-invert prose-zinc prose-a:no-underline prose-h1:text-4xl prose-h1:font-light lg:prose-lg 3xl:prose-xl m-auto max-w-full">
			<div class="text-center">
				<h1 class="pt-8 mb-0 pb-0 not-prose text-4xl">{title}</h1>
			</div>
			<slot />
		</div>
	</article>
</BaseLayout>
